#todo-items-box {
  width: 560px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ebf0f4;
  border-radius: 4px;
  border: 1px solid #cbd5dd;
  padding: 24px;
}

.todo-item-container {
  display: flex;
  align-items: center;
  gap: 6px;
}