body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 28px 0;
  background-color: #eff5fb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  color: #39a2ff;
}

.button-style-1 {
  padding: 12px 16px;
  background-color: #e1ebf2;
  border: 1px solid #99b0bb;
  border-radius: 3px;
  cursor: pointer;
}
.button-style-1:hover {
  background-color: #cfdbe4;
}

.text-center {
  text-align: center;
}