body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: unset;
  border: unset;
  padding: 0;
  cursor: pointer;
}
input[type=checkbox] {
  margin: 0;
}

label {
  display: flex;
}

.no-underline {
  text-decoration: none;
}

.no-margin {
  margin: 0;
}

.line-height-15 {
  line-height: 1.5;
}

.line-height-18 {
  line-height: 1.8;
}

.link {
  text-decoration: none;
  color: #1198ff;
}
.link:hover {
  text-decoration: underline;
}

.bold { font-weight: bold; }

.fs11 { font-size: 11px; }
.fs12 { font-size: 12px; }
.fs13 { font-size: 13px; }

.label-style-1 {
  font-size: 14px;
  font-weight: bold;
  color: #1d2024;
  margin-bottom: 4px;
}

.input-style-1 {
  outline: none;
  display: flex;
  padding: 8px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgb(194, 202, 206);
}

.input-style-1:focus {
  border-color: #1198ff;
  outline: 3px solid #1198ff40;
}

.flat-button-style {
  color: white;
  padding: 8px 12px;
  background-color: #25282c;
  transition: all 0.2s ease;
  font-size: 11px;
  font-weight: bold;
}
.flat-button-style:hover {
  background-color: #49515c;
}
.flat-button-style.red {
  background-color: #d83737;;
}
.flat-button-style.red:hover {
  background-color: #F95555;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.none {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.flex {
  display: flex;
}

.align-center {
  display: flex;
  align-items: center;
}

.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.size8 { width: 8px; height: 8px; }
.size12 { width: 12px; height: 12px; }
.size14 { width: 14px; height: 14px; }
.size16 { width: 16px; height: 16px; }
.size18 { width: 18px; height: 18px; }

.my8 { margin-top: 8px; margin-bottom: 8px; }
.mb8 { margin-bottom: 8px; }
.ml8 { margin-left: 8px; }
.ml6 { margin-left: 6px; }
.ml2 { margin-left: 2px; }

.g6 { gap: 6px; }
.g8 { gap: 8px; }

.move-to-right {
  margin-left: auto;
}

.dark {
  color: #151516;
}

.absolute-full-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-info-section {
  position: relative;
  display: flex;
  gap: 4px;
  padding: 8px 28px 8px 12px;
  margin-bottom: 12px;
  background-color: #f0f3f4;
  border: 1px solid #ccd9dd;
  border-radius: 4px;
}

.text-info-section .icon {
  width: 16px;
  height: 16px;
}
.text-info-section .text {
  font-size: 13px;
  font-weight: bold;
}
.text-info-section .close {
  display: flex;
  position: absolute;
  right: 6px;
  top: 6px;
  padding: 6px;
  border-radius: 50%;
}
.text-info-section .close:hover {
  background-color: #1d20242e;
}
.text-info-section .close .x {
  width: 10px;
  height: 10px;
}

/* error text info section */
.text-info-section.error {
  border-color: #d7a2a2;
  background-color: #ffefef;
  color: #602020;
  fill: #602020;
}
.text-info-section.success {
  border-color: #b9ddc7;
  background-color: #ddf9e4;
  color: #21592f;
  fill: #21592f;
}

.modal-overlay {
  background-color: #1d2124a8;
}

.modal-box .title {
  margin: 0;
  color: #1d2024;
}

.modal-box .title-box {
  padding: 14px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d0d9e1;
}

.modal-box .content-box {
  padding: 14px;
  overflow-y: auto;
  max-height: 450px;
}

.modal-box .x {
  cursor: pointer;
  padding: 6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.modal-box .x:hover {
  background-color: #e8e8e8;
}

.modal-style-1-container {
  width: 600px;
  background-color: white;
  border-radius: 3px;
  margin-top: -26px;
}

.rotate {
  animation: spin 1.4s linear infinite;
  -webkit-animation: spin 1.4s linear infinite;
}

@keyframes spin {
  from { transform: none }
  to { transform: rotate(360deg) }
}

@-webkit-keyframes spin {
  from { -webkit-transform: none }
  to { -webkit-transform: rotate(360deg) }
}

